.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
LIbrary/AssetVersioning.db
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/InspectorExpandedItems.asset
Library/EditorUserBuildSettings.asset
Library/ShaderCache.db
Library/ShaderCache/
Assets/StreamingAssets/data
Assets/StreamingAssets/data.meta
Assets/StreamingAssets
Assets/StreamingAssets.meta
Assets/Config
Assets/Config.meta
Assets/AllChinese.txt*
Assets/Scenes/Test.unity*
Assets/Scenes/UITest.unity*
Assets/Scripts/UI/Test*
Assets/Resources/Prefabs/UI/ButtonTest.prefab*
Assets/Plugins/Android*
ProjectSettings/ProjectSettings.asset
Temp
obj
build
*.svd
*.pidb
*.userprefs
*.suo
*.user
*.csproj
*.unityproj
*.sln
*.sh
*.log
*.bat
.metadata
Assets/Scripts/Version.*
